<% if logged_in? %>
  <p>
    You are currently logged in as <%= current_user_display_name %> 
    (<%= link_to 'logout', session_path, :confirm => 'Are you sure?', :method => :delete %>).
  </p>
  <% if admin_logged_in? %>
    <p>You are logged in with administrator privileges on this application.</p>
  <% end %>

  <% if @show_debug %>
    <p>Session data:</p>
    <pre>
    <%= session.to_yaml %>
    </pre>
  <% end %>
<% else %>
    You are not logged in. <%= link_to 'Log In', new_session_path %>.
<% end %>
